---
layout: default
title: Archive
stylesheet: archives
---
<div id="content">
	{% for year in (2018..2050) reversed %}
	{% assign games = site.pages | where: "year", year %}
	{% if games.size > 0 %}
	<h2 id="{{ year }}" class="year">{{ year }}</h2>
	<div class="games">
		{% for game in games %}
		{% if game.year == year %}
		<a class="game-container" href="{{ game.url }}">
			<div>
				<img class="game-thumbnail" src="{{ game.featureimage }}" />
				<img class="animated-thumbnail" src="{{ game.animatedimage }}" />
			</div>
			<div class="game-info">
				<h3>{{ game.title }}</h3>
				<p>{{ game.genre }}</p>
			</div>
		</a>
		{% endif %}
		{%endfor%}
	</div>
	{% endif %}
	{% endfor %}
</div>