---
layout: default
title: Home
stylesheet: home
---

<div class="wrapper">
	{% for page in site.pages %}
		{% if page.homepage == "main" %}
		<a href="{{ page.url }}" class="main-game game-preview">
			<img src="{{ page.featureimage }}" />
			<div class="game-description">
				<h2>{{ page.title }}</h2>
				<p>{{ page.content }}</p>
			</div>
		</a>
		{% elsif page.homepage == "side" %}
		<a href="{{ page.url }}" class="side-game game-preview">
			<img src="{{ page.featureimage }}" />
			<div class="game-description">
				<h2>{{ page.title }}</h2>
			</div>
		</a>
		{% endif %}
	{% endfor %}
</div>