main {
	width: 80%;
	margin: 1rem auto;
}

#content {
	display: grid;
	grid-template-columns: calc(65% - 0.5em) calc(35% - 0.5em);
	grid-template-rows: min-content;
	grid-column-gap: 1em;
	grid-row-gap: 2em;
}

	#content a {
		font-weight: bold;
		color: #393e48;
	}

		#content a:hover {
			color: #7c7e84;
		}

#about {
	grid-row: 1 / last-line;
	border-right: 1px solid #bbb;
}

#about-content {
	display: flex;
	margin: 0.5rem 1rem;
}

	#about-content p {
		margin: 0 1rem;
	}

h2 {
	margin-bottom: auto;
}

h3 {
	margin: 0.7rem 0 0;
	padding: 0 1rem;
}

#education ul {
	list-style-type: disc;
	margin: 0.5rem 0;
}

p {
	margin: 0.5rem 1rem 0 1rem;
	line-height: 1.5rem;
}

#headshot {
	width: 100%;
	min-width: 200px;
	display: inline-block;
	object-fit: cover;
	border-radius: 5px;
}

@media (max-width: 1100px){
	#about-content {
		flex-direction: column;
		margin: 0.5rem 1rem;
	}

	#headshot {
		width: 70%;
		margin: 1rem auto;
		max-width: 270px;
	}
}

@media (max-width: 768px) {
	#content {
		margin: auto;
		width: 90%;
		display: flex;
		flex-direction: column;
	}

		#content > * {
			border-top: 1px solid #bbb;
		}

		#content div:first-child {
			border-top: none;
		}

	#contact {
		width: unset;
	}

	#about {
		width: unset;
		border-right: none;
	}

	#about-content > p {
		margin: 0;
	}
}
