<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>James Leung | {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/default.css" />
    {% if layout.stylesheet %}
    <link rel="stylesheet" href="/assets/css/{{ layout.stylesheet }}.css" />
    {% endif %}
    {% if page.stylesheet %}
    <link rel="stylesheet" href="/assets/css/{{ page.stylesheet }}.css" />
    {% endif %}
    {% if layout.stylesheet == "project" %}
    <link rel="stylesheet" href="/assets/js/photoswipe.css" />
    <link rel="stylesheet" href="/assets/js/dep/default-skin.css" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #F0F0F0; margin: 0;">
    <header style="position: relative">
        <nav style="background-color: #FDFDFD;">
            <a id="header-link" href="{{ site.url }}">
                <img id="header-image" src="/assets/images/profileimage.jpg" alt="" />
                <div id="header-text">
                    <h1>James Leung</h1>
                    <p>Game Designer/Programmer</p>
                </div>
            </a>
            {% include nav.html %}
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <img id="bearpic" src="/assets/images/teddy.png" style="display:none" />
        <div id="bottom-bar">
            <ul id="contact-links">
                <li class="social-image"><a href="https://ghostentity12.itch.io/"><img src="/assets/images/sites/itch.png" alt="Itch.io" /></a></li>
                <li class="social-image"><a href="https://github.com/GhostEntity12"><img src="/assets/images/sites/github.png" alt="GitHub" /></a></li>
                <li class="social-image"><a href="https://www.linkedin.com/in/james-leung-9b28241bb"><img src="/assets/images/sites/linkedin.png" alt="LinkedIn" /></a></li>
            </ul>
            <p id="copyright-info">
                © James Leung 2023
            </p>
        </div>
    </footer>
    <!--<script>
        document.addEventListener("keydown", event => {
            if (event.keyCode === 17) {
                document.getElementById("bearpic").style = "";
            }
        });

        document.addEventListener("keyup", event => {
            if (event.keyCode === 17) {
                document.getElementById("bearpic").style = "display:none";
            }
        });
    </script>-->
</body>
</html>