---
layout: default
stylesheet: project
---

<div id="parallax-container">
	<div id="parallax-image" style="background-image:url({{ page.featureimage }})">
	</div>
	<div id="parallax-gradient">
		<h1 id="title">{{ page.title }}</h1>
	</div>
</div>
<div id="main-content">
	<div id="body">
		{{ content }}
		<div id="gallery">
			{% for video in page.galleryvideos %}
				<div class="lightbox-preview">
					<iframe src="{{ video }}" frameborder="0" allowfullscreen></iframe>
				</div>
			{% endfor %}
			{% for image in page.galleryimages %}
				<div class="lightbox-preview" id="image{{ forloop.index }}">
					<img src={{ image }} />
				</div>
			{% endfor %}
		</div>
	</div>
	{% include projectinfo.html %}
</div>